body {
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
  overflow: hidden;
}

#header h1 {
  margin: 0 auto;
  font-size: 30pt;
  text-align: left;
  padding-top: 20px;
  padding-left: 50px;
  color: rgba(0, 0, 80, 1);
  text-shadow: 0 1px 1px white;
}

#header .subtitle {
  vertical-align: middle;
  font-size: 12pt;
  text-shadow: none;
  color: black;
  font-family: sans-serif;
  font-weight: normal;
  text-shadow: 0 1px 1px white;
}

#mainContent {
  width: 75%;
  margin: 0 auto;
}

#input, #preview {
  border: dashed 1px #bbbbbb;
  margin: 10px auto;
  padding: 10px;
  min-width: 45%;
  max-width: 45%;
  height: 500px;
  background-color: #eeeeee;
  -moz-box-shadow: 0 0 5px #bbbbbb;
}

#input {
  float: left;
}

#preview {
  float: right;
  padding-left: 20px;
  padding-right: 20px;
}

code {
  background-color: white;
  border: solid 1px #dddddd;
}

blockquote {
  border-left: solid 5px #cccccc;
  padding-left: 10px;
  font-family: sans-serif;
  font-style: italic;
  color: #666666;
  font-size: 0.8em;
}
